body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: url(A\ computer\ from\ the\ 90s\ in\ the\ style\ of\ vaporwave.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;

}
  form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    animation: form-animation 3s ease 0s forwards;
  }
  @keyframes form-animation {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    width: 100%
  }
  input,
  textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 8px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  input:focus,
  textarea:focus {
    outline: none;
    background-color: #fff;
  }
  button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

 
  /* Small screens */
@media screen and (max-width:575px) {
    h1,
    h2 {
      font-size: 1.5rem;
    }
    form label {
      display: block;
      margin-bottom: 5px;
      width: 100%;
    }
    form input,
    form textarea {
      width: 100%;
    }
    form {
      margin: 1rem auto;
    }
  }
  /* Medium screens */
  @media screen and (min-width:576px) and (max-width:991px) {
    h1,
    h2 {
      font-size: 2rem;
    }
    form {
      max-width: 80%;
      margin: 2rem auto;
    }
    form label {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0;
      margin: 1rem auto;
    }
    form input,
    form textarea {
      width: 100%;
    }
  }
  /* Large screens */
  @media screen and (min-width:992px) {
    h1 {
      font-size: 3rem;
    }
    form {
      margin: 3rem auto;
    }
    form label {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;
    }
    form input,
    form textarea {
      width: 100%;
      max-width: 100%;
    }
  }
  
 